<a href="https://colab.research.google.com/github/AndraSatria2018/Data-Mining/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
irisDataset = pd.read_csv('iris.csv', delimiter=';', header=0)

In [3]:
len(irisDataset)

100

In [4]:
irisDataset.head()

   Id  SepalLengthCm  ...  PetalWidthCm          Species
0   1           7.00  ...          1.04  Iris-versicolor
1   2           9.04  ...          1.05  Iris-versicolor
2   3           9.09  ...          1.05  Iris-versicolor
3   4           5.05  ...          1.03  Iris-versicolor
4   5           9.05  ...          1.05  Iris-versicolor

[5 rows x 6 columns]

In [5]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [6]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           9.04          3.02           4.05          1.05        0
2   3           9.09          3.01           4.09          1.05        0
3   4           5.05          2.03           4.00          1.03        0
4   5           9.05          2.08           4.09          1.05        0

In [7]:
print(irisDataset)

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0     1           7.00          3.02           4.07          1.04        0
1     2           9.04          3.02           4.05          1.05        0
2     3           9.09          3.01           4.09          1.05        0
3     4           5.05          2.03           4.00          1.03        0
4     5           9.05          2.08           4.09          1.05        0
..  ...            ...           ...            ...           ...      ...
95   96           9.07          3.00           5.02          2.03        1
96   97           9.03          2.05           5.00          1.09        1
97   98           9.05          3.00           5.02          2.00        1
98   99           9.02          3.04           5.04          2.03        1
99  100           5.09          3.00           5.01          1.08        1

[100 rows x 6 columns]

In [9]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [10]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            9.04          3.02           4.05          1.05        0
2            9.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            9.05          2.08           4.09          1.05        0
..            ...           ...            ...           ...      ...
95           9.07          3.00           5.02          2.03        1
96           9.03          2.05           5.00          1.09        1
97           9.05          3.00           5.02          2.00        1
98           9.02          3.04           5.04          2.03        1
99           5.09          3.00           5.01          1.08        1

[100 rows x 5 columns]

In [11]:
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

In [13]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                             axis=0)

In [14]:
len(dataTraining)

80

In [15]:
len(dataTesting)

20

In [ ]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

In [18]:
model = tree.DecisionTreeClassifier()

In [20]:
model = model.fit(inputTraining, labelTraining)

In [21]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Hasil Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1.]

In [22]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  18 data
Prediksi Salah :  2 data
Akurasi :  90.0 %